@import "font";
@import "layout";

#search {
	padding: 0 0 1.5rem;
	text-align: center;

	input[type="text"] {
		font-size: 1.5rem;
		padding: .25rem;
		outline: none;
		width: 50%;
	}

	input[type="submit"] {
		background: #fff;
		border: 1px solid #aaa;
		font-size: 1.1rem;
		padding: .3rem;
		outline: none;
		vertical-align: top;
		width: 7%;
	}
	#search_suggestion {
		margin: 0 auto;
		position: relative;
		left: -3.5%;
		text-align: left;
		width: 50%;

		> div {
			background: #fff;
			border-left: 1px solid #aaa;
			border-right: 1px solid #aaa;
			display: block;
			position: absolute;
			width: 100%;
			z-index: 525;

			&.hide {
				display: none;
			}

			> a {
				color: #343434;
				display: block;
				font-size: 1rem;
				padding: .3rem .3rem .4rem;
				text-decoration: none;

				&:hover, &:focus {
					background: #eee;
					outline: none;
				}

				&:last-child {
					border-bottom: 1px solid #aaa;
				}

				&::before {
					content: "";
					display: inline-block;
					height: 1rem;
					margin-right: .25rem;
					vertical-align: sub;
					width: 1rem;
				}
				&.google:before {
					background: url("../images/search.svg") no-repeat 0 0;
					background-size: 100%;
				}

				&.womany:before {
					background: url("../images/logo.png") no-repeat 0 0;
					background-size: 100%;
				}
			}
		}
	}
}

#latest-articles ul {
	list-style-type: none;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		width: 30%;

		@media screen and (max-width: 769px) {
			display: block;
			width: 100%;
		}

		a {
			background-size: cover;
			color: #fff;
			display: block;
			font-weight: 600;
			margin: 0;
			text-decoration: none;
			transition-duration: .5s;

			&:hover {
				transform: scale(1.1);
				text-decoration: underline;
			}

			h3 {
				box-sizing: border-box;
				background: rgba(0,0,0,.5);
				font-size: 1rem;
				height: 10rem;
				line-height: 2rem;
				margin: 0;
				padding: 4rem 1rem 2rem;
				transition-duration: .5s;

				&:hover {
					transform: scale(0.95);
				}

				@media screen and (max-width: 769px) {
					padding: 5rem 1rem;
				}

				@media screen and (min-width: 1900px) {
					height: 13rem;
					padding: 8rem 2rem 2rem;
				}
			}
		}

		@keyframes rotate {
			100% {
				-webkit-transform: rotate(360deg);
				transform:rotate(360deg);
			}
		}

		&.pending{
			color: #555;
			font-size: 1.5rem;
			padding: 7rem;

			&::after {
				animation: rotate 1.5s infinite steps(12, end);
				background: url("../images/logo.png");
				background-size: cover;
				content: "";
				display: inline-block;
				height: 30px;
				position: relative;
				top: 3px;
				vertical-align: top;
				width: 30px;
			}
		}
		&.error {
			color: #555;
			font-size: 3rem;
			margin: 2rem;
			width: 75%;
		}
	}
}
